#header-start {
    background-color: rgb(177, 204, 229);
}

header h2 {
    font-weight: 600;
}

.logo {
 max-width:200px;
 min-width: 30px;
  height: auto;
}

.brand-title {
  font-size: clamp(1rem, 2.2vw, 2rem);/*primera medidda el minimo , segunda por defecto y tercera maximo*/
  line-height: 1;
  white-space: nowrap;
}

