.bg-image{
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('/optica/lateral.JPG');
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat; 
}
a{
  text-decoration: none;
  color: white;
}