{% extends 'base.html.twig' %}

{% block title %}Edit Appointment{% endblock %}

{% block body %}<div class="container py-4">
    <header class="d-flex flex-wrap align-items-center justify-content-between mb-3">
        <div>

            <h1 class="h3 mb-1 title">Citas</h1>
            <p class="mb-0 text-body-secondary">Edición de Citas</p>
            <a href="{{ path('app_appointment_index') }}"
               class="btn btn-link text-decoration-none"
               aria-label="Volver al menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H3.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L3.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
                </svg>
                <span class="visually-hidden">Back to menu</span>
            </a>
        </div>
    </header>

    {{ include('appointment/_form.html.twig', {'button_label': 'Update'}) }}user
    {{ include('appointment/_delete_form.html.twig') }}
    </div>
{% endblock %}
