.bg-image{

 background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('/optica/lateral.JPG');
 background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;  
 /*Crea una capa por encima de la imagen, le estoy diciendo que de color de inicio y de comor de final tenga el mismo , por lo que crea una capa semitranspaernte negra*/
}

a{
  text-decoration: none;
  color: white;
}

/* .error{
  color: crimson;
} */