
.button {
    background-color: #0057FF;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

.button:hover {
    background-color: #3D82F2;
    transition: 0.3s;
}

.card-img-top{

    height: 200px;
    width: 90%;
}